<form name="createGoalForm" class="form-horizontal" ng-submit="submit()" novalidate>
  <div class="form-group">
    <label>Goal title</label>
    <input class="form-control" ng-model="goal.title" type="string" required>
  </div>
  <div class="form-group">
    <label>Due date</label>
    <input class="form-control" ng-model="goal.dueDate" type="date" required>
  </div>
  <div class="form-group">
    <label>Time needed to achieve it</label>
    <input class="form-control" ng-model="goal.title" type="number" required>
  </div>
</form>
